<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tarefas</h1>
    <%= link_to new_tarefa_path, class: 'd-none d-sm-inline-block btn btn-md btn-primary shadow-sm' do  %>
    <i class="fas fa-plus"></i> Nova Tarefa
    <% end %>
  </div>
  
   <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Tarefas</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Status</th>
                  <th>Titulo</th>
                  <th>Descrição</th>
                  <th>Responsavel</th>
                  <th>Data</th>
                  <th>Prioridade</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <% if @tarefas.empty? %>
                  <tr>
                    <td colspan="5" align="center">Nenhuma terefa cadastrada!  <%= link_to  "Clique aqui!", new_tarefa_path, class: 'collapse-item' %></td>
                  </tr>
                <% else %>
                  <% @tarefas.each do |p| %>
                  <tr>
                    <td><%= p.id %></td>
                    <td><%= p.status %></td>
                    <td><%= p.titulo %></td>
                    <td><%= p.descricao %></td>
                    <td><%= p.responsavel.nome  %></td>
                    <td><%= formata_data(p.data) %></td>
                    <td><%= p.prioridade %></td>
                    <td>
                      <%= link_to tarefa_path(p), class: 'btn btn-info' do %>
                      <i class='far fa-eye'></i>
                      <% end %>
                      <%= link_to edit_tarefa_path(p), class: 'btn btn-warning' do %>
                      <i class="fas fa-edit"></i>
                      <% end %>
                      <%= link_to tarefa_path(p), class: "btn btn-danger heading-btn", method: :delete, data: { confirm: 'Deseja apagar?' } do %>
                      <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <div align="center">
              <%#= pagy_nav_bootstrap(@pagy).html_safe %>
          </div>
        </div>
      </div>
    </div>
