<p id="notice"><%= notice %></p>
<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"
    aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary">Terefa</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExample">
    <div class="card-body">
      <p>
        <strong>Status:</strong>
        <%= @tarefa.status %>
      </p>

      <p>
        <strong>Titulo:</strong>
        <%= @tarefa.titulo %>
      </p>

      <p>
        <strong>Descrição:</strong>
        <%= @tarefa.descricao %>
      </p>

      <p>
        <strong>Responsável:</strong>
        <%= @tarefa.responsavel %>
      </p>

      <p>
        <strong>Data:</strong>
        <%= @tarefa.data %>
      </p>

      <p>
        <strong>Prioridade:</strong>
        <%= @tarefa.prioridade %>
      </p>

      <%= link_to 'Edit', edit_tarefa_path(@tarefa) %> |
      <%= link_to 'Back', tarefas_path %>
    </div>
  </div>
</div>